<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Conciliaciones - Importación de Datos</title>



</head>

<body id="page-top" translate="no">


    <!-- Page Wrapper -->
    <div id="wrapper" class="notranslate">

        <!-- Sidebar-->
        <app-sidebar [ngStyle]="{'background-color': bgColorSideBar}" class="side-bar"></app-sidebar>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-topbar [usuarioCuenta]="usuarioCuenta"></app-topbar>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <nav aria-label="breadcrumb" class="custom-breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a (click)="irAlhome()">Inicio</a></li>
                         <li class="breadcrumb-item active" aria-current="page">Importación de datos</li>
                    </ol>
                  </nav>

                    <!-- Datos del usuario -->
                    <!--  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h1 class="h3 mb-0 text-gray-800">{{usuarioCuenta[0].nombre}}</h1>
                     </div>
                     <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <small class="text-gray-500">Email: {{usuarioCuenta[0].email}}</small>
                  </div>-->





                    <!-- Content Row -->
                    <div class="row">

                        <div class="container mt-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h4 [ngStyle]="{'color' : getStyleTemplate('title','color' )}">Importacion de Datos</h4>
                                </div>
                                <div class="card-body">



                                  <div class="alert alert-success" style="font-size: 11px;" role="alert" *ngIf="respuestaConcilia.codigo === 200">
                                    <strong>Resultado:</strong> {{respuestaConcilia.mensaje}} <a (click)="irAinformeConciliacion()"  class="alert-link"><i class="fa fa-eye" aria-hidden="true"></i> Ver Informe</a>

                                  </div>
                                  <div class="alert alert-danger" style="font-size: 11px;" role="alert" *ngIf="respuestaConcilia.codigo === 400">
                                    <strong>Aviso: </strong> {{respuestaConcilia.mensaje}}  <a  (click)="mostrarFormulario = true"  class="alert-link"><i class="fa fa-eye" aria-hidden="true"></i> Reintentar</a>

                                  </div>
                                  <div  class="file-upload" *ngIf="mostrarFormulario == true" >
                                    <form (submit)="uploadFiles($event)">
                                      <div class="alert alert-primary" style="font-size: 11px;" role="alert">
                                        <strong>Importante:</strong> Tenga en cuenta que la cuenta a conciliar debe estar presente tanto en el resumen como en el Plan de Cuentas.
                                      </div>

                                      <div class="mb-3">
                                        <label for="cuenta-contable" class="form-label">Seleccione la cuenta a conciliar: </label>
                                        <select class="form-control" [(ngModel)]="selectedCuenta" name="cuenta">
                                          <option *ngFor="let cuenta of cuentasContables" [value]="cuenta.plan_cuentas">
                                            {{ cuenta.plan_cuentas }} - {{ cuenta.descripcion }}
                                          </option>
                                        </select>
                                      </div>

                                      <div class="mb-3">
                                        <label for="resu-banco" class="form-label">Resumen a conciliar:</label>
                                        <input type="file" class="form-control" id="resu-banco" (change)="onFileSelected($event, 'banco')" [disabled]="!selectedCuenta">
                                      </div>

                                      <div class="mb-3">
                                        <label for="resu-contable" class="form-label">Su Resumen Contable:</label>
                                        <input type="file" class="form-control" id="resu-contable" (change)="onFileSelected($event, 'contable')" [disabled]="!selectedCuenta">
                                      </div>

                                      <button type="submit" class="btn btn-success" [disabled]="!selectedCuenta" style="font-size: 12px;">
                                        Cargar
                                      </button>
                                    </form>

                                  </div>
                                </div>
                            </div>
                        </div>
                        <app-spiner *ngIf="loading"></app-spiner>
                        <!-- Earnings (Monthly) Card Example
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <!-- Earnings (Monthly) Card Example -->





                        <!-- Earnings (Monthly) Card Example
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <!-- Pending Requests Card Example
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>

                    <!-- Content Row -->

                    <div class="row">


                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->



                    </div>





                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div  class="copyright text-center my-auto">
                      <div [innerHTML]="copyRigth"></div>

                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


</body>

</html>
