<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Conciliaciones - Diferencia entre Empresa vs Entidad</title>



</head>

<body id="page-top" translate="no">
<app-spiner *ngIf="loading"></app-spiner>

    <!-- Page Wrapper -->
    <div id="wrapper" class="notranslate">

        <!-- Sidebar-->
        <app-sidebar [ngStyle]="{'background-color': bgColorSideBar}" class="side-bar"></app-sidebar>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-topbar [usuarioCuenta]="usuarioCuenta"></app-topbar>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <nav aria-label="breadcrumb" class="custom-breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a (click)="irAlhome()">Inicio</a></li>
                         <li class="breadcrumb-item active" aria-current="page">Diferencias Empresa VS Entidad</li>
                    </ol>
                  </nav>

                    <!-- Datos del usuario -->
                    <!--  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h1 class="h3 mb-0 text-gray-800">{{usuarioCuenta[0].nombre}}</h1>
                     </div>
                     <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <small class="text-gray-500">Email: {{usuarioCuenta[0].email}}</small>
                  </div>-->





                    <!-- Content Row -->



                        <!--


                        inicio de grilla



                        -->





                         <!-- DataTale para seleccionar -->

                      <div  class="card shadow mb-4"  >


                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold" [ngStyle]="{'color' : getStyleTemplate('title','color' )}" >Diferencias: Empresa - Entidad</h6> <div *ngIf="cantidadMovimientos > 0"><small>{{ "Cantidad de movmientos"  }}</small>  <span class="badge badge-success"> {{cantidadMovimientos }}</span></div>
                        </div>
                        <div class="card-body">
                          <div class="alert alert-primary" style="font-size: 11px;" role="alert">
                            <strong>Nota:</strong> Este informe refleja los movimientos que estan en el mayor contable pero no estan en la entiedad que está conciliando.
                          </div>
                          <div class="table-responsive" id="dataTableConcilia" >
                            <!-- 🔹 Agregar filtros antes de la tabla -->
                            <div class="filters mb-3">

                              <label [ngStyle]="{'color' : getStyleTemplate('title','color')}"><strong>Filtrar por Concepto:</strong></label>
                              <input style="font-size: 12px;" [ngStyle]="{'font-size' : getStyleTemplate('input','font-size')}" type="text" [(ngModel)]="filtroConcepto" placeholder="Buscar concepto..." class="form-control mb-2">

                              <label [ngStyle]="{'color' : getStyleTemplate('title','color')}"><strong>Filtrar por Importe:</strong></label>
                              <input style="font-size: 12px;" [ngStyle]="{'font-size' : getStyleTemplate('input','font-size')}" type="text" [(ngModel)]="filtroImporte" placeholder="Buscar por importe..." class="form-control mb-2">


                              <label [ngStyle]="{'color' : getStyleTemplate('title','color')}"><strong>Filtrar por Detalle:</strong></label>
                              <input style="font-size: 12px;" [ngStyle]="{'font-size' : getStyleTemplate('input','font-size')}" type="text" [(ngModel)]="filtroDetalle" placeholder="Buscar por detalles..." class="form-control mb-2">



                            </div>
                            <table class="table table-striped table-bordered" id="resuCtaCteTabla" width="100%" cellspacing="0">
                              <thead>
                                <tr>

                                  <th>Ingreso</th>
                                  <th class="text-end">Concepto</th>
                                  <th>Detalle</th>
                                  <th>Cta Concilia</th>
                                  <th>Asiento</th>
                                  <th class="text-end">Comprobante</th>
                                  <!--<th class="text-end">Saldo</th>-->
                                  <th class="text-end">Importe</th>



                                </tr>
                              </thead>

                              <tbody>
                                <tr *ngFor="let item of movimientosFiltrados(); let i = index;">

                                  <td>{{ item.m_ingreso  | date:'yyyy-MM-dd' }}</td>

                                  <td class="text-end">{{ item.concepto }}</td>
                                  <td>{{ item.detalle }}</td>
                                  <td>{{ item.plan_cuenta}}</td>
                                  <td>{{ item.m_asiento }}</td>

                                  <td class="text-end">{{ item.nro_comp }}</td>
                                  <!--<td class="text-end">{{ item.saldo | number:'1.2-2' }}</td>-->
                                  <td class="text-end">{{ item.importe | number:'1.2-2' }}</td>

                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>

                                  <th>Ingreso</th>
                                  <th class="text-end">Concepto</th>
                                  <th>Detalle</th>

                                  <th>Cta Concilia</th>
                                  <th>Asiento</th>
                                  <th class="text-end">Comprobante</th>
                                  <!--<th class="text-end">Saldo</th>-->
                                  <th class="text-end">Importe</th>



                                </tr>

                                <tr>
                                  <th class="text-end"></th>
                                  <th colspan="5" class="text-end">Totales:</th>

                                  <th class="text-end">{{ getTotalImporte() | number:'1.2-2' }}</th>

                                </tr>



                            </table>
                          </div>

                          <div class="text-end mt-3">
                           <!-- <button  (click)="CancelarConciliacion()"
                            [ngStyle]="{'color' : getStyleTemplate('btn','color' ), 'background-color': getStyleTemplate('btn','background-color' ) }"
                             class="btn btn-success mx-2">Cancelar</button>

                            <button (click)="confirmarConciliacion()"
                            [ngStyle]="{'color' : getStyleTemplate('btn','color' ), 'background-color': getStyleTemplate('btn','background-color' ) }"
                             class="btn btn-success mx-2">Confirmar Conciliación</button>
-->
                          <button (click)="generarCsv()"
                          [ngStyle]="{'color' : getStyleTemplate('btn','color' ), 'background-color': getStyleTemplate('btn','background-color' ) }"
                          class="btn btn-success mx-2">Descargar CSV</button>

                          </div>
                          </div>


                       </div>





                        <!--



                        fin grilla

                        -->


                    <!-- Content Row -->

                    <div class="row">



                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->



                    </div>





                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div  class="copyright text-center my-auto">
                      <div [innerHTML]="copyRigth"></div>

                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


</body>

</html>
