<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Conciliaciones - Diferencia entre Empresa vs Entidad</title>



</head>

<body id="page-top" translate="no">
<app-spiner *ngIf="loading"></app-spiner>

    <!-- Page Wrapper -->
    <div id="wrapper" class="notranslate">

        <!-- Sidebar-->
        <app-sidebar [ngStyle]="{'background-color': bgColorSideBar}" class="side-bar"></app-sidebar>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-topbar [usuarioCuenta]="usuarioCuenta"></app-topbar>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                 <!-- Begin Page Content -->
                 <div class="container-fluid">

                  <!-- Tabla de Cuentas Contables -->
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Crear Cuenta Contable</h6>
                    </div>

                    <div class="card-body">
                      <div class="alert alert-success" style="font-size: 11px;" role="alert" *ngIf="this.control.codigo == 200">
                        <strong>Resultado:</strong> {{this.modalRespuestaConcilia}}
                        <br>
                        <hr>
                        <a (click)="irACuentasContables()"  class="alert-link"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Volver</a>
                        <hr>
                        <a (click)="irAlhome()"  class="alert-link"><i class="fa fa-power-off" aria-hidden="true"></i> Salir</a>
                      </div>






                      <div *ngIf="this.control.codigo != 200">
                      <form (ngSubmit)="onSubmit()" #altaCuentaForm="ngForm" class="form-group" >
                        <div class="row mb-6">
                          <div class="col-md-12">
                            <label for="tipo_cuenta_nombre" class="form-label">Tipo de Cuenta</label>
                            <select id="tipo_cuenta_nombre" name="tipo_cuenta_nombre" class="form-control" [(ngModel)]="cuentasContablesTipo.tipo_cuenta" required>
                              <option *ngFor="let tipo of cuentasContablesTipo" [value]="tipo.id">{{ tipo.nombre }}</option>
                            </select>
                          </div>

                          <div class="col-md-12">
                            <br>
                            <label for="descripcion" class="form-label">Nombre</label>
                            <input type="text" id="descripcion" name="descripcion" class="form-control" [(ngModel)]="cuentasContablesTipo.descripcion" required>
                          </div>

                          <div class="col-md-12">
                            <br>
                            <label for="plan_cuentas" class="form-label">Número de Cuenta</label>
                            <input type="text" id="plan_cuentas" name="plan_cuentas" class="form-control"
                            [(ngModel)]="cuentasContablesTipo.plan_cuentas"
                            required maxlength="15" pattern="^\d{1,15}$" placeholder="Ingrese un máximo de 15 valores numericos">

                          </div>
                        </div>
                        <br  *ngIf="this.control.codigo != 200 && this.control.codigo != 0">
                        <div class="alert alert-danger" style="font-size: 11px;" role="alert" *ngIf="this.control.codigo != 200 && this.control.codigo != 0">

                          <strong>Error:</strong> {{this.modalRespuestaConcilia}}


                        </div>
                        <div >
                          <br>
                          <div class="col-md-12 text-end">
                            <button type="submit" class="btn btn-primary w-100" [disabled]="!altaCuentaForm.valid">Dar de alta</button>
                          </div>
                        </div>
                      </form>
                    </div>

                    </div>
                  </div>


              </div>
              <!-- /.container-fluid -->
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div  class="copyright text-center my-auto">
                      <div [innerHTML]="copyRigth"></div>

                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


</body>

</html>


