<div [ngClass]="{'collapsed': isCollapsed}" class="sidebar" >
  <!-- Contenido del sidebar -->




<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
[ngStyle]="{'background-color': getStyleTemplate('navbar-nav', 'background-color')}">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" >
      <div><img  class="img-fluid" src="assets/multimedia/images/logos/concilia.png" (click)="irAlhome()"></div>

  </a>

  <!-- Divider  ,
'color' : getStyleTemplate('sidebar', 'color'),
'font-family': getStyleTemplate('body', 'font-family')-->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard
  <li class="nav-item active" [ngStyle]="{'color': getStyleTemplate('nav-link', 'color')}" >
      <a class="nav-link" href="/gestagro">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Inicio</span></a>
  </li>
-->
  <!-- Divider -->
  <hr class="sidebar-divider" *ngIf="this.cambioClave > 0">

  <!-- Heading -->
  <div *ngIf="this.cambioClave > 0" class="sidebar-heading" [ngStyle]="{'color': getStyleTemplate('sidebar-heading', 'color')}">
      MENU
      <p></p>
  </div>
  <hr class="sidebar-divider" *ngIf="this.cambioClave > 0">
  <div *ngIf="this.cambioClave > 0">

    <li *ngFor="let item of menu" class="nav-item">
      <a class="nav-link collapsed"
         [routerLink]="item.nombre === 'Salir' ? '/logout' : null"
         href="#"
         data-toggle="collapse" [attr.data-target]="'#'+item.id"
         [ngStyle]="{'color': getStyleTemplate('nav-item .nav-link', 'color')}"
         aria-expanded="true">
        <i class="{{ item.icono }}"></i>
        <span>{{ item.nombre }} </span>
      </a>

      <div *ngIf="item.hijos.length > 0" [id]="item.id" class="collapse">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">{{ item.nombre }}:</h6>
          <a *ngFor="let hijo of item.hijos"
             class="collapse-item"
             (click)="irAModulo(hijo)">
            {{ hijo.nombre }}
          </a>
        </div>
      </div>
    </li>

  </div>

  <!-- Divider -->
  <hr  class="sidebar-divider" *ngIf="this.tieneAccesoConciliar && this.cambioClave > 0">

  <!-- Heading
  <div class="sidebar-heading"  [ngStyle]="{'color': getStyleTemplate('sidebar-heading', 'color')}">
      CERALES
  </div>-->




  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">



</ul>

</div>